body{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width:80%;
    margin: 20px auto;
    border: 3px solid red;
    overflow:auto;
    padding: 15px;
}

h1{
    color: red;
    text-align: center;
}

h2{
    text-align: center;
}

nav{
    text-align: center;
}

nav a{
    text-decoration: none;
    background-color: red;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    margin-left: 20px;
}

nav a:hover{
    color: red;
    background-color:white;
}